<div class="mybox">
</div>
<div class="boxBar">
  我的收藏盒
</div>
<div class="shareBar">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand">分享至</a>
      <ul class="nav">
        <li><a href="javascript:;" target="_blank"><img class="img-rounded" src="css/images/linebutton/linebutton_20x20.png" alt=""/></a></li>
        <li><a href="javascript:;" target="_blank"><img class="img-rounded" src="css/images/facebook-icon.png" alt=""/></a></li>
        <li><a href="javascript:;" target="_blank"><img class="img-rounded" src="css/images/pixnet_icon.png" alt=""/></a></li>
        <li><a href="javascript:;" target="_blank"><img class="img-rounded" src="css/images/Twitter-icon.png" alt=""/></a></li>
        <li><a href="javascript:;" target="_blank"><img class="img-rounded" src="css/images/google-plus-icon.png" alt=""/></a></li>
        <li><a href="javascript:;" target="_blank"><img class="img-rounded" src="css/images/icon_color_red128.png" alt=""/></a></li>
      </ul>
    </div>
  </div>
</div>
<script id="box-item-template" type="text/x-jsrender">
  <a href="{{>link}}" target="_blank"><img data-id="{{>id}}" class="img-rounded" src="{{>thumb}}"/></a>
</script>